# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
# ignore output folder
_archive/
_potential-readings/
_code/
Course-Information/

Course-Materials/_archive/
Course-Materials/_potential-readings/
Course-Materials/_site/
Course-Materials/site_libs/
Course-Materials/media/
Course-Materials/Module-01/media/
Course-Materials/Module-02/media/
Course-Materials/Module-03/media/
Course-Materials/Module-04/media/
Course-Materials/Module-05/media/
_class-recordings/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Office files
*.docx
*.pptx
*.xlsx

*.Rdata


# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
